$black: #000;
$white: #fff;
$primary-color: #39d9c8;
$secondary-color: #36D97C;
$light-grey : rgb(141, 143, 145);

html,
body {
    font-family: 'Share Tech Mono', monospace;
    background-color: $black;
}

body.enigma {
    background: url(../../img/bg_enigme.png);
    padding: 50px 0 30px;
    min-height: 100vh;
}

.block {
    &-home {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: url(../../img/tete.png);
        background-size: cover;
        background-position-x: center;
        background-position-y: 90%;
    }

    &-main {
        position: relative;
        background-color: $white;
        border-radius: 35px;
        box-shadow: 3px 3px 40px rgba(9, 9, 9, .5);
        padding: 50px;
        z-index: 999;
    }
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo img,
    .hud img {
        width: 80%;
    }

    .enter button {
        margin-top: 30px;
        background-color: transparent;
        border: 1px solid $primary-color;
        border-radius: 35px;
        color: $primary-color;
        padding: 13px 100px;
        font-size: 18px;
        letter-spacing: 5px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 500ms;

        &:hover {
            animation: 1s infinite;
            animation-name: bouncing;
        }

        &:active,
        &:focus {
            outline: 0;
        }
    }
}

.enigma-third,
.enigma-second {
    table {
        .third.highlight {
            background-color: $primary-color;
        }

        .clue {
            color: $light-grey;
        }

        tr {
            cursor: pointer;
        }
    }
}

.sketchfab-embed-wrapper iframe {
    width: 100%;
    min-height: 500px;
}

.steps {
    margin: 50px 0;
    text-align: center;
    color: $white;
    z-index: 999;
    display: none;

    .step {
        position: relative;
        display: inline-block;

        &.pending {
            animation: 1s infinite;
            animation-name: bouncing;

            span {
                border: 2px solid $white;
                cursor: pointer;
            }
        }

        span {
            font-size: 13px;
            padding: 10px 15px;
            border-radius: 100%;
            opacity: 0.7;

            &.active {
                opacity: 1 !important;
                padding: 15px 20px !important;
                border: 2px solid $primary-color;
            }

            &.completed {
                opacity: .9;
                padding: 13px 19px;
                border: 2px solid $secondary-color;
                cursor: pointer;
            }
        }
    }
}

.enigma-fifth {
    user-select: none;

    .display {
        margin-left: 20px;
    }

    .hidden {
        display: none;
    }

    .password {
        font-size: 60px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .granted {
        font-size: 30px;
    }

    .denied {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: red;
    }

    p {
        margin: 10px;
    }

    .button {
        background-color: #111;
        border: solid 1px #888;
        padding: 8px 25px;
        font-size: 26px;
        letter-spacing: 2px;
        cursor: pointer;
    }

    .start {
        color: #eee;
    }

    .blink {
        animation: blink 0.8s steps(1, start) infinite alternate;
    }

    .failed {
        font-size: 60px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: red;
    }
}

@keyframes bouncing {
    0% {
        transform: scale(1);
    }
    45% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    55% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
